body{
    background-image: url("https://source.unsplash.com/random/1920x1080/?");
    background-size: 100vw 100vh;
}
h1{
    color: white;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg,white ,#000428,#ffc3a0,#734b6d,#6dd5ed, #7462ff,black,#f48e21, #23d5ab,blue,orange,#2c3e50,#56ab2f ,#141e30, white);
    background-size: 300% 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: color2 20s linear infinite;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
    filter: drop-shadow(5px 9px 4px black);
}
.text p,h5{
    color: white;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg,white ,#000428,#ffc3a0,#734b6d,#6dd5ed, #7462ff,black,#f48e21, #23d5ab,blue,orange,#2c3e50,#56ab2f ,#141e30, white);
    background-size: 300% 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: color2 20s linear infinite;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;
    filter: drop-shadow(5px 9px 4px black);
}
.text p{
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: -35px;
}
.text h5{
    margin-bottom: -30px;
}
.field{
    display: flex;
   align-items: center;
   justify-content: center;
}
input[type="text"]{
    width: 70%;
    height: 40px;
    background: transparent;
    border: none;
    font-size:20px;
    color: rgba(0, 0,0, 0.5);
    font-weight: bolder;
    text-align: cenetr;
    border-bottom: 2px solid rgba(225,225,225,0.3);
    margin-right: 10px;
}
input[type="submit"]{
    background-color: transparent;
    width: 100px;
    height: 70px;
    color: black;
    font-weight: bolder;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    border: none;
}
@keyframes color2 {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0 50%;
    }

    100% {
        background-position: 50% 50%;
    }

}